PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=medistore_db
JWT_SECRET=supersecure_medi_store_secret_jwt_key_123!
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID_HERE
CLIENT_URL=http://localhost:5173
